doctype html
html(lang="en")
  head
    title= Was to be a Pug
    style(type="text/css").
  body
    div(class="container")
      div(class="ear")
      div(class="ear right")
      div(class="head")
        div(class="face")
          div(class="eye")
            div(class="iris")
          div(class="eye right")
            div(class="iris right")
          div(class="mouth_container")
            div(class="nose")
            div(class="snout")
          